name: Validate assetlist.json

on:
  push:
    paths:
      - './schema/assetlist.json'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Validate JSON
      run: go run ./schema/validate_assetlist.go
